{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": ["react"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": ["off"],
    "react/display-name": ["off"],
    "react/no-unescaped-entities": ["off"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": [
      "warn",
      {"allow": ["clear", "info", "error", "dir", "trace"]}
    ],
    "curly": "error",
    "no-else-return": "error",
    "no-unneeded-ternary": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "eqeqeq": "error",
    "dot-notation": "error",
    "react/destructuring-assignment": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-key": "error",
    "react/self-closing-comp": "error",
    "react/jsx-curly-brace-presence": "error",
    "prefer-arrow-callback": "error",
    "strict": "error",
    "symbol-description": "error",
    "yoda": ["error", "always"]
  }
}
